/** GLOBALES **/
.contenedor{                  /*En este configuramos margen y posision del logo y enlaces*/
    max-width: 1250px;        /*con este definimos el maximo de ancho del contenedor*/
    margin-left: auto;      /*con este definimos el margen izquierdo del contenedor*/
    margin-right: auto;       /*con este definimos el margen derecho del contenedor*/
    /*margin: 0 auto 0 1050;    
    este tiene la mima funcion de los dos de arriba y se define su orden como un reloj*/
}

/** HEADER **/
.site-header.inicio{
    background-image: url(/IMG/img1.jpg);  /*Con este añadimos la imagen del encabezado*/
    background-position: center center;    /*con este centramos el encabezado*/
    background-size: cover;                /*definimos tamaño proporcional al encabezado*/
    height: 100vh;                         /*definimos que el encabezado toma el tamaño total de la mantalla*/
    min-height: 600px;                     /*definimos el minimo tamaño que tendrá el encabezdo*/
}

.barra{                                      /*Poosicionamos el logo y los enlaces*/
    display: flex;                   /*Posicionamos el logo y los enlaces uno al lado del otro*/
    justify-content: space-between; /*Separar el logo y los enlaces*/
    padding-top: 30px;              /*margen de la barra, sin mover el background*/
}


/** NAVEGACION **/
.navegacion a{                               /*damos estilos a los enlaces*/
    color: #FFF2FF;        /*definimos el color de los enlaces*/
    text-decoration: none;   /*quitamos la linea inferior que tienen los enlaces*/
    font-size: 18px;         /*definimos tamaño de la letra de los enlaces*/
    margin-right: 20px;      /*definimos espacio entre los enlaces*/
}

.navegacion a:hover{                         /*damos color al fijar el puntero sobre el enlace*/
    color: #D647A9;
}

.navegacion a:last-of-type{                 /*quitamos el espacio derecho al ultimo enlace*/
    margin: 0;                            
}

